body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.App img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.main-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: max-content;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 40vh;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3);
}
.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.container .title {
  font-weight: 600;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
}
.game {
  display: flex;
  gap: 1rem;
  text-align: center;
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ptitle {
  font-weight: 600;
  margin-bottom: 2rem;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
button {
  width: 100%;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  border: none;
  color: #fff;
  font-weight: 600;
}
.reset {
  background-color: red;
}
.start {
  background-color: green;
}
